/* general */

body {
  background: #fffef4;
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: white;
}

/* container */

.container {
  width: 800px;
  margin: 40px auto;
}

/* card */

.card {
  background: #f7f7f7;
  margin: 30px;
  border: 1px solid #dadada;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #c3c3c3;
}

/* resume card */

#profile-logo {
  border-radius: 75px;
  width: 125px;
  height: 125px;
}

#mountains {
  width: 100%;
}

.btn-card {
  background: #313131;
  margin: 30px auto 30px auto;
  padding: 15px;
  width: 200px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.btn-card:hover {
  background: #fdc33e;
}

/* hobbies card */

.hobby {
  width: 150px;
  margin: 0px 30px 30px 30px;
  display: inline-block;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  box-shadow: 7px 7px 10px #e0e0e0;
  padding-bottom: 20px;
  transition: all 0.3s ease-out;
}

.hobby h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.hobby:hover {
  background: #313131;
  color: white;
}

.hobby img {
  width: 100px;
  height: 100px;
}

/* social network card */

.card h3 {
  font-size: 25px;
}

ul {
  margin: 30px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

ul i {
  font-size: 75px;
  color: #fdc33e;
  transition: all 0.3s ease-out;
}

ul i:hover {
  font-size: 77px;
  color: #313131;
}

/* responsive */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
